<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.suaee.mapper.UserMapper">

	<select id="queryById" resultType="User">
		select 
			id,name,age,tel,address,create_time,update_time,status
		from 
			users
		where id = #{id}
	</select>
	
	<select id="queryAll" resultType="User">
		select 
			id,name,age,tel,address,create_time,update_time,status
		from 
			users
		where status = 1
		order by create_time desc
<!-- 		limit #{offset},#{limit} -->
	</select>
	
</mapper>