<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.suaee.mapper.UserMapper">

	<sql id="selectBase">
			ID,DEL_FLAG,CREATE_DATE,UPDATE_DATE,NICKNAME,USERNAME,PASSWORD,TEL,EMAIL
	</sql>
	<select id="queryById" resultType="User">
		SELECT 
			<include refid="selectBase"></include>
		FROM USERS WHERE ID = #{id}
	</select>
	<select id="queryAll" resultType="User">
		SELECT 
			<include refid="selectBase"></include>
		FROM USERS WHERE DEL_FLAG = 1 ORDER BY CREATE_DATE DESC
	</select>
	<insert id="insert" parameterType="User">
		INSERT INTO USERS(
			ID,DEL_FLAG,CREATE_DATE,UPDATE_DATE,NICKNAME,USERNAME,PASSWORD,TEL,EMAIL
		)VALUES(
			#{id},#{delFlag},#{createDate},#{updateDate},#{nickName},#{userName},#{password},#{tel},#{email}
		)
	</insert>
	<update id="deleteUserById" parameterType="User">
		UPDATE USERS SET 
			UPDATE_DATE = #{updateDate},DEL_FLAG = #{delFlag}
		WHERE ID = #{id}
	</update>
</mapper>